.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0 0 4rem;
}

.btn-wrapper {
  display: flex;
  gap: 2rem;
}